@use "variables";
@use "header";
@use "presentation";
@use "formations";
// @use "swiper-simple";
@use "skills";
@use "projects";
@use "contact";
@use "footer";
// @use "swiper-projects";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: variables.$primary-font, Arial, Helvetica, sans-serif;
}
